body {
    background-color: rgb(255, 241, 218);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:auto;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 48px;
}

ul {
    display: inline-block;
    text-align: left;
    font-size: 24px;
}

ol {
    width: 30%;
    display: inline-block;
    text-align: left;
    font-size: 24px;
}
